<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airiss</title>

    <!-- <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->

    <link th:rel="stylesheet" th:href="@{/css/font.css}"/>

    <script th:src="@{/vender/jquery/jquery-3.6.0.min.js}"></script>    
    <script th:src="@{/vender/tailwind/tailwind.min.js}"></script>

    <link th:rel="stylesheet" th:href="@{/css/view.css}"/>


</head>

</html>